{% extends 'base.html' %}

{% block title %}
Listagem de Serviços
{% endblock title %}

{% block content%}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Listagem de Usuarios</h3>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.username }}</td>
                    <td><a href="{% url 'editar-usuario' usuario.id %}">Editar</a> | <a href="/administracao/usuarios/apagar/{{ usuario.id }}">Apagar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock content %}